fastapi==0.111.0
uvicorn[standard]==0.29.0
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
cryptography==41.0.7
bcrypt==4.1.3
python-multipart==0.0.9
ortools==9.10.4067
gunicorn==22.0.0
httpx==0.28.1
PyMuPDF==1.24.9
segno==1.6.1
